# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
dist-ssr/
*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?

# 忽略所有放置在 src/assets/photos 目录下的真实婚礼照片
/src/assets/photos/*
# 排除 .gitkeep，确保空文件夹目录结构依然保留在 Git 中
!/src/assets/photos/.gitkeep
