@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  user-select: none;
}

/* 隐藏所有浏览器的滚动条 */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE */
  scrollbar-width: none;  /* Firefox */
}